<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PersonaWSPortBinding" receiveTimeout="00:01:00"
                    sendTimeout="00:01:00" maxReceivedMessageSize="2147483647" />
                <binding name="CicloWSPortBinding" receiveTimeout="00:01:00"
                    sendTimeout="00:01:00" maxReceivedMessageSize="2147483647" />
                <binding name="HorarioCicloWSPortBinding" receiveTimeout="00:01:00"
                    sendTimeout="00:01:00" maxReceivedMessageSize="2147483647" />
                <binding name="CursoWSPortBinding" receiveTimeout="00:01:00"
                    sendTimeout="00:01:00" maxReceivedMessageSize="2147483647" />
                <binding name="EspecialidadWSPortBinding" receiveTimeout="00:01:00"
                    sendTimeout="00:01:00" maxReceivedMessageSize="2147483647" />
                <binding name="CitaWSPortBinding" receiveTimeout="00:01:00" sendTimeout="00:01:00"
                    maxReceivedMessageSize="2147483647" />
                <binding name="EventoCicloWSPortBinding" receiveTimeout="00:01:00"
                    sendTimeout="00:01:00" maxReceivedMessageSize="2147483647" />
                <binding name="ReporteWSPortBinding" receiveTimeout="00:01:00"
                    sendTimeout="00:01:00" maxReceivedMessageSize="2147483647" />
                <binding name="InformacionTemaCicloWSPortBinding" receiveTimeout="00:01:00"
                    sendTimeout="00:01:00" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://34.231.200.155:8080/ooiasoftWebServices/CicloWS"
                binding="basicHttpBinding" bindingConfiguration="CicloWSPortBinding"
                contract="CicloWS.CicloWS" name="CicloWSPort" />
            <endpoint address="http://34.231.200.155:8080/ooiasoftWebServices/CitaWS"
                binding="basicHttpBinding" bindingConfiguration="CitaWSPortBinding"
                contract="CitaWS.CitaWS" name="CitaWSPort" />
            <endpoint address="http://34.231.200.155:8080/ooiasoftWebServices/CursoWS"
                binding="basicHttpBinding" bindingConfiguration="CursoWSPortBinding"
                contract="CursoWS.CursoWS" name="CursoWSPort" />
            <endpoint address="http://34.231.200.155:8080/ooiasoftWebServices/EspecialidadWS"
                binding="basicHttpBinding" bindingConfiguration="EspecialidadWSPortBinding"
                contract="EspecialidadWS.EspecialidadWS" name="EspecialidadWSPort" />
            <endpoint address="http://34.231.200.155:8080/ooiasoftWebServices/EventoCicloWS"
                binding="basicHttpBinding" bindingConfiguration="EventoCicloWSPortBinding"
                contract="EventoCicloWS.EventoCicloWS" name="EventoCicloWSPort" />
            <endpoint address="http://34.231.200.155:8080/ooiasoftWebServices/HorarioCicloWS"
                binding="basicHttpBinding" bindingConfiguration="HorarioCicloWSPortBinding"
                contract="HorarioCicloWS.HorarioCicloWS" name="HorarioCicloWSPort" />
            <endpoint address="http://34.231.200.155:8080/ooiasoftWebServices/PersonaWS"
                binding="basicHttpBinding" bindingConfiguration="PersonaWSPortBinding"
                contract="PersonaWS.PersonaWS" name="PersonaWSPort" />
            <endpoint address="http://34.231.200.155:8080/ooiasoftWebServices/InformacionTemaCicloWS"
                binding="basicHttpBinding" bindingConfiguration="InformacionTemaCicloWSPortBinding"
                contract="InformacionTemaCicloWS.InformacionTemaCicloWS" name="InformacionTemaCicloWSPort" />
            <endpoint address="http://34.231.200.155:8080/ooiasoftWebServices/ReporteWS"
                binding="basicHttpBinding" bindingConfiguration="ReporteWSPortBinding"
                contract="ReporteWS.ReporteWS" name="ReporteWSPort" />
        </client>
    </system.serviceModel>
</configuration>